<button mat-button [matMenuTriggerFor]="menu">Visualizar/Editar</button>
<mat-menu #menu="matMenu">
  <button mat-menu-item routerLink="clientes">Clientes</button>
  <button mat-menu-item routerLink="funcionarios">Funcionarios</button>
  <button mat-menu-item>Agendamentos</button>
</mat-menu>

<button mat-button [matMenuTriggerFor]="menu">Vendas</button>
<mat-menu #menu="matMenu">
  <button mat-menu-item routerLink="clientes">Clientes</button>
  <button mat-menu-item routerLink="funcionarios">Funcionarios</button>
  <button mat-menu-item>Agendamentos</button>
</mat-menu>
<button mat-button [matMenuTriggerFor]="menu">Estoque</button>
<mat-menu #menu="matMenu">
  <button mat-menu-item routerLink="clientes">Clientes</button>
  <button mat-menu-item routerLink="funcionarios">Funcionarios</button>
  <button mat-menu-item>Agendamentos</button>
  <button mat-menu-item>Estoque</button>
</mat-menu>

<button mat-button [matMenuTriggerFor]="menu">Relatórios</button>
<mat-menu #menu="matMenu">
  <button mat-menu-item routerLink="clientes">Clientes</button>
  <button mat-menu-item routerLink="funcionarios">Funcionarios</button>
  <button mat-menu-item>Agendamentos</button>
  <button mat-menu-item>Estoque</button>
</mat-menu>
