<h1 mat-dialog-title>Novo Agendamento</h1>
<div mat-dialog-content>
  <form [formGroup]="form">
    <p>


      <mat-form-field appearance="outline" required>
        <input
          matInput
          placeholder="Cliente"
          [formControl]="myControl"
          [matAutocomplete]="auto"
          [(ngModel)]="cliente"
        />
        <mat-autocomplete  #auto="matAutocomplete">
          <mat-option
            *ngFor="let option of filteredOptions | async"
            value="{{ option.nome }}"
          >
            {{ option.nome }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>

      <mat-form-field class="full-width">
        <mat-label>Funcionario</mat-label>
        <mat-select
          required
          [(ngModel)]="funcionarioId"
          [ngModelOptions]="{ standalone: true, updateOn: 'change'  }"
          (ngModelChange)="atualizarFuncionarioId()"
        >
          <mat-option
            *ngFor="let funcionario of funcionarios"
            value="{{funcionario.id}}"

            >{{ funcionario.nome }}</mat-option
          >
        </mat-select>
      </mat-form-field>

      <mat-form-field class="medium-width">
        <mat-label>Serviço</mat-label>
        <mat-select
          required
          [(ngModel)]="servicoId"
          [ngModelOptions]="{ standalone: true, updateOn: 'change' }"
          (ngModelChange)="atualizarValor($event)"
        >
          <mat-option

            *ngFor="let servico of servicos"
            value="{{ servico.id }}"
            >{{ servico.nome }}</mat-option
          >
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Valor" [(ngModel)]="servicoValor"
        [ngModelOptions]="{ standalone: true}"

        >
      </mat-form-field>
     
      <br>
      <mat-form-field>
        <mat-label>Escolha uma data</mat-label>
        <input matInput [matDatepicker]="picker"  formControlName="data"
        (ngModelChange)="atualizarData($event)"
        >
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </p>
  </form>
</div>
<div mat-dialog-action [align]="'end'">
  <button  mat-raised-button color="primary" [disabled]="!form.valid" (click)="onSubmit()">{{actionBtn}}</button>
  <button style="margin-left: 8px;" mat-raised-button color="warn" mat-dialog-close>Cancelar</button>
</div >
